*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;    
}

body{
    background: url(../assets/undraw_together_j0gj.svg);
    background-repeat: no-repeat;  
    background-clip: unset;
    background-position-x: -50px;
    background-size: 700px;    
}


.container{  
          
    font-size: 16px;
    margin-top: 12.5rem; 
    
    /* flex */
    display: flex;         
    justify-content: center;
    
    margin-left: 22.5rem;
    animation: showBanner 10s linear;
}

@keyframes showBanner{
    0%{
        transform: translateX(-600%) scale(2, 2);
        opacity: 1;
    }
    50%{
        transform: translateX(600%) scale(2, 2);
        opacity: 1;
    }
    75%{
        transform: translateX(-600%) scale(2, 2);                
        opacity: 0;
    }
    100%{
        transform: translateX(0%) scale(1, 1);                
        opacity: 1;
    }
}

.box{    
    width: 12.5em;
    height:12.5em;
    padding: 0.625em;    
    background-color: rgba(255, 255, 255, 0.959);    
    box-shadow: 0px 0px 5px #ccc;    
    margin-left: 0.9375em;
    border-radius: 5px;
    text-align: center;  
    cursor: pointer;  
}

.box:hover{
    background-color: #223182;
    color: white;    
}

.box:hover h1{
    box-shadow: none;
    color: white;    
}

.box:hover p{    
    color: white;  
    animation: toScale 2s infinite linear;
}


.box h1{
    margin-top: 0.625em;
    padding: 10px;
    font-size: 1.5625em;
    color: rgb(65, 64, 64);
    letter-spacing: 2px;    
    font-weight: bold;    
    box-shadow: -1px 4px 4px #ccc;
}

.box p{
    line-height: 3.5em;
    font-size: 2.5em;
    font-weight: bold;
    color: #555;
}

/* animaciones */

@keyframes toScale{
    0%{ transform: scale(1,1); }
    50%{ transform: scale(2,2); }
    100%{ transform: scale(1,1);  }
}  

@media (max-width: 1260px){
    .container{
        margin-top: 22.5em;
    }
}

@media (max-width: 1060px){
    .container{
        margin-left: 11.5rem;
    }
}

@media (max-width: 960px){
    .container{
        margin-left: 1.5rem;
        margin-top: 26.5em;
    }
}

@media (max-width: 720px){
    .container{
        font-size: 12px;
        margin-top: 32.5em;
        margin-left: 0rem;        
    }
}

@media (max-width: 480px){
    body{
        background-position: -175px 0%;
    }
    .container{ 
        font-size: 10px;    
        padding: 50px 0px 100px 0px;        
        background-color: rgba(43, 61, 162, 0.74);;        
    }
}